/target/
.settings
.classpath
.project

/hrm-server/hrm-employee/.mvn
/hrm-server/hrm-employee/.settings
/hrm-server/hrm-employee/target/
/hrm-server/hrm-employee/.classpath
/hrm-server/hrm-employee/.gitignore
/hrm-server/hrm-employee/.project

/hrm-server/hrm-finance/.mvn
/hrm-server/hrm-finance/.settings
/hrm-server/hrm-finance/target/
/hrm-server/hrm-finance/.classpath
/hrm-server/hrm-finance/.gitignore
/hrm-server/hrm-finance/.project

/hrm-server/hrm-leavesystem/.mvn
/hrm-server/hrm-leavesystem/.settings
/hrm-server/hrm-leavesystem/target/
/hrm-server/hrm-leavesystem/.classpath
/hrm-server/hrm-leavesystem/.gitignore
/hrm-server/hrm-leavesystem/.project

/hrm-server/hrm-trainer/.mvn
/hrm-server/hrm-trainer/.settings
/hrm-server/hrm-trainer/target/
/hrm-server/hrm-trainer/.classpath
/hrm-server/hrm-trainer/.gitignore
/hrm-server/hrm-trainer/.project

/hrm-server/.project

